.list{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(55%, 1fr)); */
    height: 100vh;
    /* overflow: scroll; */
}
.surround{
    width:100%;
    height:100%;
    /* border:black solid 2px; */
}
@media screen and (min-width: 600px){
    .surround{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
}
@media screen and (min-width:900px){
    .surround{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
}
@media screen and (min-width:1000px){
    .surround{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
}
@media screen and (min-width:2000px){
    .surround{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    }
}